@import '~styles/helpers-placeholders';
@import '~styles/colors';

.component-footer {
  @extend %right-center-content;

  width: 100%;

  padding: 5px;

  text-align: right;
  font-size: 2rem;
  color: $COLOR_TEXT_LIGHT;

  background-color: $COLOR_BACKGROUND_DARK;

  img {
    height: 45px;
  }
}
